@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BrandViewModel
@{
    ViewData["Title"] = "AddBrand";
    ViewData["TitlePage"] = "حذف برند";
}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 border ">
        <form class="m-4" asp-area="Admin" asp-controller="Brand" asp-action="DeleteBrand" method="post">
            <div class="row">
                <div class="col-4 form-group">
                    <label > ایا از حذف این برند مطمئن هستین</label>
                    <input asp-for="@Model.BrandName" class="form-control" />
                    <span asp-validation-for="@Model.BrandName" class="text-danger">

                    </span>
                </div>
                <div class="col-12 text-left">
                    <a asp-area="Admin" asp-controller="Brand" asp-action="Index" class="btn green text-white">انصراف</a>
                    <input type="submit" value="حذف" class="btn green text-white" />

                </div>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>

