@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ColorViewModel
@{
    ViewData["Title"] = "Delete Color";
    ViewData["TitlePage"] = "حذف رنگ";
}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 border ">
        <form class="m-4" asp-area="Admin" asp-controller="Color" asp-action="DeleteColor" method="post">
            <div class="row">
                <div class="col-4 form-group">
                    <label> ایا از حذف این رنگ مطمئن هستین</label>
                    <input asp-for="@Model.ColorNumber" class="form-control" />
                    <span asp-validation-for="@Model.ColorNumber" class="text-danger">

                    </span>
                </div>
                <div class="col-12 text-left">
                    <a asp-area="Admin" asp-controller="Color" asp-action="Index" class="btn green text-white">انصراف</a>
                    <input type="submit" value="حذف" class="btn green text-white" />

                </div>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>

