
@font-face {
    font-family: 'iransans';
    src: url('../font/iransans.ttf') format('truetype');
}
@font-face {
    font-family: 'iransans_medium';
    src: url('../font/iransans_medium.ttf') format('truetype');
}
*{
    direction:rtl;
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:right;
    font-family:iransans
}

.font_medium
{
    font-family:iransans_medium;
}

a{
    color:white !important;
    cursor:pointer;
}

a:hover
{
    text-decoration:none;
}

.pic_menu {
    width: 50px;
    border-bottom: solid #868686 1px;
    border-radius:100%;
    margin-top:10px;
    margin-bottom:10px;
}

.Scroll {
    height: auto;
    max-height: 492px;
    overflow-x: hidden;
}

.menu li :first-child
{
    color:white;
    padding-top:10px
}


.menu li {
    padding: 7px 10px;
}

/*.menu li:not(:first-child):hover
{
    border-radius:10px;
    background:#3fb2a5;
}*/


.menu li a {
    position: relative;
}
.menu li a i {
    padding-left: 5px;
    padding-top:8px;
}

.subMenue
{
    padding-right:10px;
    display:none;
}

.subMenue li {
    padding: 10px;
}

.sidebar_right {
    background: #0e8275;
    padding: 0;
    height: inherit;
    position: fixed;
    min-height: 100%;
    right: 0;

}
.right {
    right: 45px;
    position: absolute;
    right: 170px;
    top: 5px;
}

nav {
    background: white;
    box-shadow: 0px 1px 10px 2px #b9c5c480;
    border-bottom: solid #bdb7b7b8 1px;
    direction: ltr;
}

#Brand
{
    color:white
}

#Brand p {
    color: white;
    font-size:20pt;
    margin:8px;
    font-family:iransans_medium;
}

#Logo {
    background: #3b3945;
    font-size: 10pt;
}

    #Logo p {
        font-size: 15pt;
        color: white;
        margin-top: 15px;
        margin-right: 50px;
        margin-bottom: 0px;
    }
    #Logo span
    {
        color:white;
        margin-right:15px;
    }
::-webkit-scrollbar
{
    width:5px;
}

::-webkit-scrollbar-track {
    background: #0e8275;
}

::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background:#d9d9d9;
}

.box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.table thead th {
    border: none;
}

.footer {
    margin-top: 60px !important;
    position: relative !important;
}

.green {
    background: #0e8275;
}
input::placeholder {
    color: #0e8275 !important;
    opacity: 0.5 !important;
}

@media (max-width: 1240px) {
    .sidebar_right {
        display: none;
    }
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    border: #ebebeb solid 1px;
    width: 100px;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: white;
    margin-top: 2px;
    background: #0e8275;
    text-align:left;
    float:left;
}

    .choose_file input[type="file"] {
        -webkit-appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        
    }